html{
    height: 100%;
}
body{
    background: url("../img/login.jpg");
    background-size: cover;
}
.form{
	background: rgba(255,255,255,0.2);
    width: 400px;
	margin:120px auto;
}
.form-horizontal {
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 0 2px;
    overflow: hidden;
}
h4.form-title {
    margin-top: 20px;
    line-height: 40px;
    text-align: center;
}
.col-md-9 {
    width: 75%;
    margin-left: 12.5%;
}
.form-group.col-md-offset-9 {
    margin-bottom: 20px;
}
/*阴影*/
.fa{
	display: inline-block;
	top: 27px;
	left: 6px;
	position: relative;
	color: #ccc;
}
input[type="text"],
input[type="password"] {
	padding-left:26px;
}
.checkbox{
	padding-left:21px;
}
button[type="submit"] {
    width: 100%;
}

